:root {
    --color-border: var(--palette-gray-400);
    --border-normal: 1px solid var(--color-border);
    --border-medium: 2px solid var(--color-border);
    --border-bold: 3px solid var(--color-border);
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

.app {
    display: grid;
    grid-template-columns: 100px 1fr;
    height: 100vh;
}

.sheet-nav {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: var(--color-bg-primary);
    border-right: var(--border-normal);
}

.sheet-nav__item {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-size: 16px;
    cursor: pointer;
}

.sheet-nav__item:hover {
    background-color: var(--color-bg-hover);
}

.sheet-nav__item--active {
    background-color: var(--color-bg-active);
    font-weight: var(--font-weight-medium);
}

.sheet-nav__item > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sheet-editor {
    display: grid;
    height: 100%;
    overflow: auto;
}

.sheet__head > .sheet__cell {
    border-bottom: var(--border-bold);
    font-weight: var(--font-weight-bold);
}

.sheet__row {
    display: contents;
}

.sheet__cell {
    display: flex;
    align-items: center;
    min-width: calc(4px * 2 + 16px);
    height: calc(4px * 2 + 4px * 2 + 16px);
    padding: 4px;
    font-size: 16px;
    outline: var(--border-normal);
    white-space: nowrap;
}
