:root {
    --color-border: var(--palette-gray-400);
    --color-bg-sheet-nav: var(--palette-gray-100);
}

.app {
    display: grid;
    grid-template-columns: 100px 1fr;
    height: 100vh;
}

.sheet-nav {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--color-bg-sheet-nav);
    border-right: 1px solid var(--color-border);
}

.sheet-editor {
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}
